@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-blue: #003087;
  --brand-orange: #ff6b00;
}

body {
  @apply bg-gray-50 text-gray-900;
}

/* Allow specific pages to break out of the max-w-7xl container */
.full-width-page {
  width: calc(100vw - 1rem);
  margin-left: calc(-1 * (100vw - 1rem - 100%) / 2);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
